<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://118.89.178.181:3306/filmdia?useUnicode=true&amp;characterEncoding=utf-8</property>
        <property name="connection.username">xzh</property>
        <property name="connection.password">Xzh123456.</property>

        <!-- JDBC connection pool -->
        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <!-- show the sql in a specific way -->
        <property name="format_sql">true</property>

        <!-- Drop and re-create the database schema on startup //自动生成建表语句-->
        <property name="hbm2ddl.auto">update</property>

        <mapping class="entityPO.Favorite"></mapping>
        <mapping class="entityPO.FilmDB"></mapping>
        <mapping class="entityPO.ProducerDB"></mapping>
        <mapping class="entityPO.Review"></mapping>
        <mapping class="entityPO.UserAccount"></mapping>
        <mapping class="entityPO.TrailerClick"></mapping>

    </session-factory>
</hibernate-configuration>