.title-info {
    position: absolute;
    /*background:rgba(0, 0, 0, .2);*/
    width: 82.5vw;
    margin: 25vh auto 0;
    height: 300px;
    display: block;
    left: 0;
    right: 0;
    z-index: 3;
}

.film_title {
    font-size: 40px;
}
.title-info .film_poster {
    float: left;
    position: relative;
    left: 20px;
    width: 180px;
    /*top: 20px;*/
}

.title-info .film_poster img {
    box-shadow: 0 5px 14px 0 rgba(0, 0, 0, .6);
}

.fast_info {
    position: relative;
    float: left;
    left: 3vw;
    /*margin-top: 20px;*/
    width: 40vw;
    /*height: 270px;*/
    /*background: #123456;*/
    font-size: 16px;
    color: #fff;
}

h2 {
    max-width: 500px;
    color: #fff;
}

.film_summary {
    position: relative;
    top: 10px;
    color: #fff;
    width: 600px;
    /*font-size: 1.2em;*/
    line-height: 1.8em;
}

.fast_info .Directors {
    position: relative;
    display: block;
    top: 25px;
    /*font-size: 13px;*/
    margin-bottom: 20px;
}

.fast_info .Stars {
    position: relative;
    display: block;
    top: 20px;
    /*font-size: 13px;*/
    margin-bottom: 15px;
}

.fast_info .Stars {
    /*font-size: 1.2em;*/
}

.fast_info .Tags {
    position: relative;
    display: block;
    /*font-size: 1.2em;*/
    top: 20px;
}

.add_fav {
    position: absolute;
    float: left;
    width: 22vw;
    /*height: 250px;*/
    top: 0;
    right: 20px;
    background: rgba(255, 255, 255, .1);
    border-radius: 5px;
    padding-bottom: 20px;
}

.add_fav .fav_content {
    width: 230px;
    height: auto;
    margin: 0 auto;
}

.add_fav .fav_content .Score {
    color: #ffd966;
    font-size: 50px;
    font-style: italic;
    display: block;
    margin-left: 50px;
}

.add_fav .fav_content .rating_label {
    margin-top: 20px;
    font-size: 1.2em;
}

.add_fav .fav_content .add_button {
    display: block;
    margin: 10px auto 0;
    left: 12%;
}

#graph ul li section:nth-of-type(2n+1) {
    width: 800px;
    height: 400px;
    /*margin-left: 200px;*/
    margin-top: 50px;
    transition: 1s;
}

#graph ul li section:nth-of-type(2n) {
    width: 800px;
    height: 400px;
    margin-left: 400px;
    margin-top: 50px;
    transition: 1s;
}

.graphs {
    width: 80% !important;
    height: 70vh !important;
    min-height: 500px;
    max-height: 1000px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.half_graphs {
    width: 50% !important;
    height: 50vh !important;
    min-height: 300px;
    max-height: 500px;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    float: left;
}

#graphForStatistics {
    height: auto;
}

.sign-in-words:hover {
    color: #428bca !important;
}

.body {
    font-size: 20px !important;
}

.layui-flow-more {

}




.recommend-title {
    font-size: 3em;
    text-align: center;
    margin-bottom: 1%;
}

#recommend {
    width: 80vw;
    min-width: 600px;
    height: auto;
    margin: 30px auto;
    margin-top: 0;
}

.recommend-img {
    display: inline;
    overflow: hidden;
    width: 20% !important;
    float: left;
}

.recommend-img img {

    transition: all 2s ease-in;
    -webkit-transition: all 2s ease-in;
    transform: scale(1, 1);
}

.recommend-img img:hover {
    transform: scale(1.2, 1.2);
}

.recommend-wrapper {
    /*width: 19% !important;*/

}

.heads-for-detail {
    margin: 30px auto;
    font-size: 2.7em;
    margin-bottom: 1%;
    font-family: 'Source Sans Pro', sans-serif;
}

.detail-little-titles {
    font-size: 2em;
}

.container {
    width: 80%;
}