@media screen and (max-width: 1920px) {
    .bann-info{
        background: url("../images/bgPredict.jpg") no-repeat;
        background-size:100% 100%;
        background-attachment:fixed;
        padding: 0 0 0;
        height: 650px;
        margin:0px;
    }
}

.bann-info{
    background: url("../images/bgPredict.jpg") center no-repeat;
    background-size:cover;
    padding: 0 0 0;
    height: 650px;
}

.bann-info h3{
    position: absolute;
    top: 110px;
    left: 10%;
    color: rgba(255,255,255,1);
    font-weight: bold;
    font: 25px Georgia, "Times New Roman", Times, serif;

}
.bann-info em{
    font-size: 37px;
    font-weight: bold;
    color: rgba(255,255,255,.7);
}
.bann-info .intro {
    position: absolute;
    top: 160px;
    left: 10%;
}
.bann-info p {

    color: #d5d5d5;
    width: 500px;
    font: 18px Georgia, "Times New Roman", Times, serif;
    margin-top: 15px;
    display: block;
}
.bann-info ul {
    color: #d5d5d5;
    font: 16px Georgia, "Times New Roman", Times, serif;
    display: block;
    margin-left: 50px;
    font-weight: bold;
}
.bann-info .yellow {
    color: #ffeb8f;
}


.w3_content_agilleinfo_inner {
    margin: 50px 0 0 0 ;
    padding: 1em 0;
}
.agile_featured_movies {
    padding: 0 2em;
}
.agileinfo_tabs {

}
.w3_agile_latest_movies {
    padding: 2em 1em;
    box-shadow: 0px 0px 1px #999;
    width: 99%;
    margin: 0 auto;
}

/*.w3_agile_latest_movies img {*/
    /*width: 100%;*/
    /*background: #ededf1;*/
    /*padding: 1em;*/
    /*box-shadow:0px 2px 1px rgba(110, 110, 111, 0.12);*/
/*}*/

.item img {
    width: 100%;
    background: #ededf1;
    padding: 1em;
    box-shadow:0px 2px 1px rgba(110, 110, 111, 0.12);
    cursor: pointer;
}

.w3_agile_latest_movies {
    padding: 1em 1em 0em 1em;
}

.w3l-movie-gride-agile {
    text-align: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
    margin-right: 1%;
    margin-bottom: 1.5%;
    position: relative;
    padding-left: 0;
    width: 24%;
    float: left;
}

/*.w3l-movie-gride-agile img {*/
    /*width: 182px;*/
    /*height: 268px;*/
/*}*/
.w3l-movie-gride-agile img:hover {
    opacity: 0.5;
}

.w3l-movie-gride-agile.w3l-movie-gride-slider {
    width:96%!important;
    margin-right: 1%;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.mid-1.agileits_w3layouts_mid_1_home {
    padding: 10px 1em;
    background: #ededf1;
    box-shadow: 0px 2px 1px rgba(110, 110, 111, 0.42);
    -webkit-box-shadow: 0px 2px 1px rgba(110, 110, 111, 0.42);
    -o-box-shadow: 0px 2px 1px rgba(110, 110, 111, 0.42);
    -moz-box-shadow: 0px 2px 1px rgba(110, 110, 111, 0.42);
}

.w3l-movie-text h6 a {
    font-size: 1em;
}

.owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
    background: #fff;
}

.infoPane {

}

.movie_info {
    width: 90%;
    margin: 0 auto;
    background: #ededf1;
    box-shadow: 0px 2px 1px rgba(110, 110, 111, 0.42);
    -webkit-box-shadow: 0px 2px 1px rgba(110, 110, 111, 0.42);
    -o-box-shadow: 0px 2px 1px rgba(110, 110, 111, 0.42);
    -moz-box-shadow: 0px 2px 1px rgba(110, 110, 111, 0.42);
    height: 1500px;
}
.movie_info .info_container {
    margin: 0px auto;
    padding-top: 30px;
}

.movie_info .staff_info {
    /*float: left;*/
    margin-left: 20px;
}

.movie_info .staff_info img{
    width: 131.5px;
    height: 201px;
}

.movie_info .staff_info .director_info {
    display: block;
    width: 1100px;
    height: 261px;
}
.movie_info .staff_info .director_info .directorBox {
    margin: 10px 100px 10px 90px;
    display: inline;
    float: left;
}

.movie_info .representative_works {
    font: 15px Georgia, "Times New Roman", Times, serif;

}

.infobox {
    margin: 10px 30px;
    float: left;
}

h6{
    text-align: center;
    font-size: 13px;
    margin-top: 5px;
    line-height: 15px;
}

.star_title {
    display: block;
    margin-top: 40px;
}

#predictChartBox {
    position:absolute;
    width: 50%;
    height: 300px;
    margin-top: 20px;
    margin-left: 40px;
    display: block;
}

.algorithm {
    margin-top: 20px;
    margin-left: 60%;
}

.btn_group {
    float: left;
}
.btn_group button {
    display: block;
    width: 100px;
    margin: 23px 8px;
}

.result {
    float: left;
    margin-left: 10px;
    margin-top: 10%;
    /*font: 15px Georgia, "Times New Roman", Times, serif;*/
}

.result h4 {
    margin: 10px 0 0 5px;
    font: 18px Georgia, "Times New Roman", Times, serif;
}
.result h2 {
    margin: 5px 0 0 13px;
    font: 25px Georgia, "Times New Roman", Times, serif;
}